* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
  }

  :root {
    --dark: #212121;
    --background: #303030;
    --background-op-5: #3030307a;
    --lightGray: #636363;
    --highlight: #0091ea;
  }
  body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
.login-container {
    background-color: #ffffff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    width: 320px;
    text-align: center;
}
.login-container h2 {
    margin-bottom: 20px;
    color: #333333;
}
.login-container input[type="text"],
.login-container input[type="password"] {
    width: calc(100% - 20px);
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #cccccc;
    border-radius: 4px;
    font-size: 16px;
}
.login-container input[type="submit"] {
    width: 100%;
    padding: 10px;
    margin-top: 20px;
    border: none;
    background-color: var(--highlight);
    color: white;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}
.login-container input[type="submit"]:hover {
    background-color: var(--highlight);
}
.login-container .error-message {
    color: #ff0000;
    margin-top: 10px;
}